/* ============================================ */
/*             Media Queries                    */
/* ============================================ */

@media (maxwidth: 320px) {
    .grid {
    display: grid;
    margin: 30px auto;
    max-width: 1000px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    grid-template-areas:
    "head"
    "side "
    "main"
    "main"
    "main"
    "main"
    "main";
}

}

@media (maxwidth: 768px) {
    .grid {display: grid;
    margin: 30px auto;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(7, 1fr);
    gap: 25px;
    grid-template-areas:
    "head head"
    "side side"
    "main main"
    "main main"
    "main main"
    "main"
    "main"
    "main"
    "main";
}

}

@media (maxwidth: 1024px) {
    .grid {display: grid;
    margin: 30px auto;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(7, 1fr);
    gap: 25px;
    grid-template-areas:
    "head"
    "side side"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main";
}

}