/* ============================================ */
/*             Variables                        */
/* ============================================ */
// Research why Sass variables don't import global colors.

$base-color: #5C526B;
$text-color: #FFF;

$side-nav: #443C4E;