/* ============================================ */
/*             Grid Styles                      */
/* ============================================ */
$base-color: #5C526B;
$text-color: #FFF;

$side-nav: #443C4E;





header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}

.flex {
    display: flex;
}

//Mobile First Grid Layout
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"; 
}

.main-header {
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: $base-color;
}

.header-right {
    display: block;
    align-self: stretch;

}

.bell-svg {
    margin-top: 5px;
}

.side-nav {
    justify-content: center;
    width: auto;
    background-color: $side-nav;

}
.social-stats {
    margin: auto;
    flex-direction: column;
}





/* ============================================ */
/*             Media Queries                    */
/* ============================================ */

// PAGE GRID 
@media (min-width: 768px) {
    
    .grid {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header"
        "nav main"
    }
    .side-nav {
        display: block;
    }

    .side-nav img {
        margin: 10px;
    }

}
// THE MAIN CONTENT AREA GRID
 @media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 50%;
    }
    .alert, .traffic, .social-stats {
        grid-column: 1 /span 2;
        }
    .social-stats {
        margin: auto;
        flex-direction: row;
        }

    .social {
        display: block;
    }

    .daily-traffic {
        grid-column: 1 /span 1;
    }
    .mobile-users {
        grid-column: 2 /span 1;
    }

    .flower {
        margin: auto;
    }
 }


 //DESKTOP STYLES

@media (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header "
        "nav main";
    }

    .side-nav {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}
