/* ============================================ */
/*             Grid Styles                      */
/* ============================================ */
$base-color: rgb(139, 88, 160);


header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}

.flex {
    display: flex;
}

//Mobile First Grid Layout
.grid {
    display: grid;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 25px;
    grid-template-areas:
    "header"
    "nav"
    "main"; 
}


//make grid areas - ensure items flex across multiple columns if need be.


.main-header {
    justify-content: space-between;
    height: 8em;
    background-color: $base-color;
}

.main-header h2 {
    align-self: auto;
}


.side-nav {
    justify-content: center;
}

// .sides {
//     margin-left: 30px;
//     margin-right: 30px;
// }


