/* ============================================ */
/*            Image Styles                      */
/* ============================================ */
// img {
//     display: flex;
//     height: 50px;
//     width: 50px;
// }

.members-container img {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.moon-svg {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.nav-svg {
    height: 50px;
    width: 50px;
    margin: 10px;
    fill: white;
}

.main-header img {
    border-radius: 50%;
    height: 50px;
    width: 50px;

}
.flower {
    display: flex;
    height: auto;
    width: 320px;
}