/* ============================================ */
/*            Image Styles                      */
/* ============================================ */
img {
    display: flex;
    height: 50px;
    width: 50px;
}

.members-container img {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.moon-svg {
    height: 35px;
    width: 35px;
    border-right: 1px solid black;
    padding-right: 10px;

    &:hover {
    
    }
}

.nav-svg {
    margin: .8em;  
}

.main-header img {
    border-radius: 50%;

}
.flower {
    display: flex;
    height: auto;
    width: 320px;
}