/* ============================================ */
/*            Searchbar Styling                 */
/* ============================================ */

input {
    margin: 20px;
    padding: 10px;
    text-align: center;
    @media (min-width: 768px) {
        padding: 10px 70px;
    }
    &:focus {
        background-color: #5C526B;
        color: white;
        border: solid;
    }
    &:focus::placeholder {
        color: white;
    }
}
