/* ============================================ */
/*            Searchbar Styling                 */
/* ============================================ */

input {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    text-align: center;

    
    &:focus {
        background-color: #a694bb;
        color: white;
        border: solid;
        
    }

    &:focus::placeholder {
        color: white;
    }
}
