/* --------------------------
 SVG STYLES
--------------------------- */

.moon-outline {
  fill:#fff;
}


@keyframes wiggle {
  0% {
    transform: scale(1.15) rotate(20deg);
  } 10% {
    transform: scale(1.15) rotate(-20deg);
  } 20%{
    transform: scale(1.15) rotate(20deg);
  } 30% {
    transform: scale(1.15) rotate(-20deg);
  } 40% {
    transform: scale(1.15) rotate(20deg);
  } 50%{
    transform: scale(1.15) rotate(-20deg);
}
}

@keyframes twinkle {
  0% {
    fill:gold;
  }
  20% {
    fill:silver;
  }
  40% {
    fill:white;
  }
  60% {
    fill:gold;
  }
  80% {
    fill: silver;
  }
  90% {
    fill:white;
  }
  100% {
    fill:gold;
  }
}

@keyframes reverseTwinkle {
  0% {
    fill:white;
  }
  20% {
    fill:silver;
  }
  40% {
    fill:gold;
  }
  60% {
    fill:white;
  }
  80% {
    fill: silver;
  }
  90% {
    fill:gold;
  }
  100% {
    fill:white;
  }
}

// @keyframes zoom {
//   0% {
//     transform: scale(1);
//   } 25% {
//     transform: scale(1.15);
//   } 50%{
//     transform: scale(1.25);
//   } 75% {
//     transform: scale(1.15);
//   } 100% {
//     transform: scale(1);
//   } 
// }

.moon-svg:hover {
  animation: wiggle 1s 1s forwards;

}

.sparkles {
  animation: twinkle 10s infinite;
}

.dot1 {
  animation: reverseTwinkle 10s infinite;
}

.dot2 {
  animation: reverseTwinkle 10s infinite;
}

.dot3 {
  animation: reverseTwinkle 10s infinite;
}
