/* --------------------------
  Base
--------------------------- */

  .moon-outline {
    fill:#fff;
  }
  
  .sparkles{
    fill: gold;
  }
  
  .dot {
    fill: silver;
  }
 
  
  /* --------------------------
    Keyframes
  --------------------------- */
  // @keyframes slide {
  //   50% {
  //     transform: translate3d(0,-5px,0)
  //   }100%{
  //     transform: translate3d(0,0,0)
  //   }
  // } 
  
  @keyframes wiggle {
    0% {
      transform: scale(1.15) rotate(20deg);;
    } 10% {
      transform: scale(1.15) rotate(-20deg);
    } 20%{
      transform: scale(1.15) rotate(20deg);
    } 30% {
      transform: scale(1.15) rotate(-20deg);
    } 40% {
      transform: scale(1.15) rotate(20deg);
    } 50%{
      transform: scale(1.15) rotate(-20deg);
  }
}
  // @keyframes dash {
  // 0% {
  //   stroke-opacity: 1;
  // } 100% {
  //   stroke-dashoffset: 0;
  // }
  
  // }
  
  // @keyframes zoom {
  // 0% {
  // transform: scale(0);
  // }100%{
  //   transform: scale(1);
  // }
  
  // }
  /* --------------------------
    SVG Styles
  --------------------------- */
 
  
  .acorn {
    stroke-dasharray: 2050px;
    stroke-dashoffset: 2050px;
    stroke-linecap: round;  
    animation: dash 4s linear forwards;
    fill-opacity: 1;
  }
  
  .roof {
    transform: translate3d(0, -1000px, 0);
    animation: slide 8s forwards;
  }
  
  .leaves {
    transform: translate3d();
    animation: zoom 6s forwards; 
  }
  
  .chimney {
    animation: wiggle 4s 4s forwards;
  
  }

  .moon-svg:hover {
    animation: wiggle 1s 1s forwards;

  }

  .sparkles:hover {
    stroke-dasharray: 1px;
    stroke-dashoffset: 1px;
    stroke-linecap: round;  
    animation: dash .5s linear forwards;
    fill-opacity: 1;
  }