/* --------------------------
  Base
--------------------------- */

body {
    padding-top: 60px;
    background: #fff;
  }
  
  .moon-svg {
    margin: auto;
    display: block;
    height: 50px;
    width: 50px;
  }
  
  .leaves {
    fill:#B7D0C5;
  }
  
  .chimney, 
  .roof, 
  .wabitiny{
    fill:#324550;
  }
  
  .acorn {
    fill:#B7D0C5;
    stroke:#324550;
    stroke-width:15.5583;
    stroke-miterlimit:10;
  }
  
  
  /* --------------------------
    Keyframes
  --------------------------- */
  @keyframes slide {
    50% {
      transform: translate3d(0,-5px,0)
    }100%{
      transform: translate3d(0,0,0)
    }
  } 
  
  @keyframes wiggle {
    0% {
      transform: scale(1);
    } 20% {
      transform: scale(1.15) rotate(-20deg);
    } 40%{
      transform: scale(1.15) rotate(20deg);
    }100% {
      transform: scale(1);
    }
  }
  
  @keyframes dash {
  0% {
    stroke-opacity: 1;
  } 100% {
    stroke-dashoffset: 0;
  }
  
  }
  
  @keyframes zoom {
  0% {
  transform: scale(0);
  }100%{
    transform: scale(1);
  }
  
  }
  /* --------------------------
    SVG Styles
  --------------------------- */
  .logo * {
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  
  .acorn {
    stroke-dasharray: 2050px;
    stroke-dashoffset: 2050px;
    stroke-linecap: round;  
    animation: dash 4s linear forwards;
    fill-opacity: 1;
  }
  
  .roof {
    transform: translate3d(0, -1000px, 0);
    animation: slide 8s forwards;
  }
  
  .leaves {
    transform: translate3d();
    animation: zoom 6s forwards; 
  }
  
  .chimney {
    animation: wiggle 4s 4s forwards;
  
  }