/* ============================================ */
/*            Body & Typography                 */
/* ============================================ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body {
	font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

a {

&:visited {
	fill: #fff;
	color: #5C526B;
}
	
}

h1 {
	font-size: 25px;
	color: #fff;
	padding: 10px;
}

h2{
	font-size: 18px;
	color: #fff;
	padding: 15px;
	//display: none; <---mobile view, hide
}

.headline h2 {
	color: #000;
	font-size: 20px;
	background-color: #fff;
}

.dashboard-tab {
	background-color: rgba(232, 232, 232, 0.475);
	border-left: silver;
	border-bottom: silver;
}

h3 {
	font-size: 15px;
	text-transform: uppercase;
	margin: 10px;
}

li {
	list-style-type: none;
}

legend {
	display: none;	
}

fieldset {
	border: none;
}

section {
	border: solid 1px silver;
}


.thin-font {
	font-family: 'Roboto' sans-serif;
	font-weight: 100;
}

.main-header {
	font-size: 18px;
	color: #fff ;
}

.dashboard-tab {
	border-bottom: #000;
	border-left: #000;
}

.alert-banner {
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	color: #fff;
	background-color: #5C526B;
	
}

.members-container {
	justify-content: space-between;
}

.form-area {
	margin: 5px 20px;
    padding: 15px 15px 90px 10px;
	background-color: rgba(232, 232, 232, 0.475);
    border: solid 1px silver;
    border-radius: 10px;
}

.button-primary {
	margin: 5px 20px;
    padding: 15px;
    text-align: center;
	color:#fff;
    background-color: #5C526B;
    border: solid 1px silver;
    border-radius: 10px;
}

.switches {
	width: 100px;
}

.settings, .setting-buttons{
	flex-direction: column;
	justify-content: center;
}

.switch-wrapper, .switches{
	align-self: center;
}

.button-save {
	margin: 5px;
    padding: 15px 50px;
    text-align: center;
	color:#fff;
    background-color: #5C526B;
    border: solid 1px silver;
    border-radius: 10px;
}

.button-cancel {
	margin: 5px;
	padding: 15px 50px;
    text-align: center;
	color:#fff;
    background-color: rgba(165, 165, 165, 0.968);
    border: solid 1px silver;
    border-radius: 10px;
}

.dropdown {
	justify-content: center;
}

#timezone {
	margin: 10px;
	padding: 10px;
}
@media (min-width: 768px) {
	.h2 {
		display: block;
	}
}