/* ============================================ */
/*            Body & Typography                 */
/* ============================================ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body {
	font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

a {
	&:visited {
		fill: #fff;
		color: #5C526B;
	}
}

h1 {
	font-size: 25px;
	color: #fff;
	padding: 10px;
}

h2 {
	font-size: 25px;
	color: #fff;
	padding: 15px;
	display: none;
}

.headline h2 {
	color: #000;
	font-size: 20px;
	background-color: #fff;
}

// .dashboard-tab {
// 	height: fit-content;
// 	width: fit-content;
// 	background-color: rgba(232, 232, 232, 0.475);
// 	border-left: silver;
// 	border-bottom: silver;
// }

h3 {
	font-size: 15px;
	text-transform: uppercase;
	margin: 10px;
}

li {
	list-style-type: none;
}

legend {
	display: none;	
}

fieldset {
	border: none;
}

section {
	border: solid 1px silver;
}

.switch-ios.switch-toggle {
    background-color: #ffffff00;
    border-radius: 30px;
    box-shadow: none;
}

.thin-font {
	font-weight: 100;
}

.big-font {
	color: rgb(128, 128, 128);
	font-weight: 100;
	font-size: 40px;
}

.social-font {
	color: #5C526B;
	font-weight: 500;
	font-size: 20px;
}

.main-header {
	font-size: 18px;
	color: #fff ;
}



.moon-notification {
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	color: #fff;
	background-color: #5C526B;

}

.alert-banner {
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	color: #fff;
	background-color: #5C526B;
	cursor: pointer;
	
}

.members-container {
	justify-content: space-between;
}

.form-area {
	margin: 5px 20px;
    padding: 15px 15px 90px 10px;
	background-color: rgba(232, 232, 232, 0.475);
    border: solid 1px silver;
    border-radius: 10px;
}

.button-primary {
	margin: 5px 20px;
    padding: 15px;
    text-align: center;
	color:#fff;
    background-color: #5C526B;
    border: solid 1px silver;
    border-radius: 10px;
}


.settings, .setting-buttons{
	flex-direction: column;
	justify-content: center;
}

.settings p {
	align-self: auto;
}

.switch-wrapper {
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.switches{
	width: 100px;
}

.email-switch,
.set-profile {
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  p {
    align-self: center;
    flex-basis: 175px;
  }
}


.button-save {
	margin: 5px 20px;
	padding: 15px;
    text-align: center;
	color:#fff;
    background-color: #5C526B;
    border: solid 1px silver;
    border-radius: 10px;
}

.button-cancel {
	margin: 5px 20px;
	padding: 15px;
    text-align: center;
	color:#fff;
    background-color: rgba(165, 165, 165, 0.968);
    border: solid 1px silver;
    border-radius: 10px;
}

.dropdown {
	justify-content: center;
}

#timezone {
	margin: 20px 20px 10px 20px;
	padding: 15px;
	text-align: left;
	background-color: rgba(232, 232, 232, 0.475);
	border: solid 1px silver;
	border-radius: 10px;
	flex: auto;
}

@media (min-width: 768px) {
	h2 {
		display: block;
	}
	
}