/* ============================================ */
/*            Body & Typography                 */
/* ============================================ */
// Research why Sass variables don't import global colors.
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body {
	font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h3 {
	color: #fff;
	background-color: #5C526B;
}

.main-header {
	font-size: 18px;
	color: #fff ;
}


.headline h2{
	color: #fff;
	background-color: #5C526B;
}
//placeholder - figure out why variables aren't compiling properly

h3 {
	color: #fff;
	background-color: #5C526B;
}
li {
	list-style-type: none;
}

