/* ============================================ */
/*            Body & Typography                 */
/* ============================================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h1 {
	color: #fff ;
}

li {
	list-style-type: none;
}

