/* ============================================ */
/*             Media Queries                    */
/* ============================================ */


@media (min-width: 768px) {
    .grid {
        display: grid;
        margin: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 25px;
        grid-template-areas:
        "header header"
        "nav main"
    }

}

@media (min-width: 1024px) {
    .grid {
        display: grid;
        margin: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 25px;
        grid-template-areas:
        "header header header"
        "nav main main"
    }

}